@font-face {
  font-family: "gilroy-extra";
  src: url("../fonts/gilroy-extra/gilroy-extra-bold.woff2") format('woff2'),
  url("../fonts/gilroy-extra/gilroy-extra-bold.woff2") format('woff');
  font-weight: normal;
  font-style: normal;
}
