@import "fonts.css";

* {
  box-sizing: border-box;
}

/*button,*/
/*input {*/
  /*font: inherit;*/
/*}*/

button {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 43px;
  text-transform: uppercase;
  background-image: linear-gradient(#f0c52e, #f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: gilroy-extra, sans-serif;
  font-size: 18.5px;
  font-weight: normal;
  line-height: 23.5px;
  letter-spacing: 3.3px;
}

.button:hover {
  background-size: 100%;
}

.button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.logotype {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 50px;
}

.logotype._yellow {
  color: #ffc600;
}

.header {
  position: relative;
  background-color: #f4e2a0;
}

.header:hover {
  z-index: 2;
}

.header__inner {
  padding: 40px 60px;
}

.header__logotype {
  position: relative;
  top: -14px;
}

.header__user-menu {
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
}

.header__line {
  display: flex;
  justify-content: space-between;
}


.header__line._subnavigation {
  visibility: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}

.header:hover .header__line._subnavigation {
  visibility: visible;
}

.header__line + .header__line {
  margin-top: 23px;
}

.search {
  display: flex;
  width: 440px;
  margin: 0;
  color: #000000;
}

.search__input {
  flex-grow: 1;
  padding: 0 0 10px 41px;
  background: transparent url("../images/icons/search.svg") no-repeat 5px 11px;
  border: none;
  border-bottom: 2px solid transparent;
  font: inherit;
  color: #000000;
}

.search__button {
  visibility: hidden;
}

.search__input:focus {
  border-bottom-color: #000000;
  outline: none;
}

.search__input:focus ~ .search__button {
  visibility: visible;
}

.search__input::-webkit-input-placeholder,
.search__input::-moz-placeholder,
.search__input:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__input:hover::-webkit-input-placeholder,
.search__input:hover::-moz-placeholder,
.search__input:hover:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__input:active::-webkit-input-placeholder,
.search__input:active::-moz-placeholder,
.search__input:active:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__button {
  border: 2px solid #000000;
  height: 50px;
  padding: 0 19px;
  font: inherit;
  cursor: pointer;
}

.search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header__navigation {
  width: 100%;
  text-transform: uppercase;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.header__navigation-list {
  display: flex;
  align-items: center;
}

.header__navigation-item:first-child {
  margin-right: auto;
}

.header__navigation-item + .header__navigation-item {
  margin-left: 33px;
}

.header__navigation-item:last-child {
  margin-left: 103px;
}

.header__navigation-link._icon-plus {
  padding-right: 30px;
  background: url('../images/icons/plus.svg') center right no-repeat;
}

.header__subnavigation + .header__subnavigation {
  margin-left: 60px;
}

.header__subnavigation-item + .header__subnavigation-item {
  margin-top: 6px;
}

.footer__bottom-developer:hover,
.footer__navigation-link:hover,
.header__navigation-link:hover,
.user-menu__link:hover,
.logotype[href]:hover {
  opacity: 0.6;
}

.footer__bottom-developer:active,
.footer__navigation-link:active,
.header__navigation-link:active,
.user-menu__link:active,
.logotype[href]:active {
  opacity: 0.3;
}

.main__title,
.main__about-title,
.main__contact-title {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 47.5px;
  line-height: 47.5px;
  letter-spacing: 0.48px;
}

.catalog__item-title,
.main__about-company-list {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.footer__inner {
  padding: 68px 0;
}

.footer__user-menu {
  padding-top: 3px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__phone,
.footer__address {
  letter-spacing: normal;
  color: #ffffff;
}

.footer__phone {
  margin: 0;
}

.footer__navigation {
  margin-top: 5px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.footer__navigation-link {
  text-transform: uppercase;
}

.user-menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1;
}

.user-menu__item._margin {
  margin-right: 177px;
}

.user-menu__item + .user-menu__item {
  margin-left: 40px;
}

.user-menu__link {
  background: transparent none left center no-repeat;
}

.user-menu__link._user {
  padding-left: 26px;
  background-image: url('../images/icons/user.svg');
}

.user-menu__link._user._yellow {
  background-image: url('../images/icons/user-yellow.svg');
}

.user-menu__link._compare {
  padding-left: 21px;
  background-image: url('../images/icons/compare.svg');
}

.user-menu__link._compare._yellow {
  background-image: url('../images/icons/compare-yellow.svg');
}

.user-menu__link._cart {
  padding-left: 23px;
  background-image: url('../images/icons/cart.svg');
}

.user-menu__link._cart._yellow {
  background-image: url('../images/icons/cart-yellow.svg');
}

/*product-slider start*/

.product-slider {
  position: relative;
  top: -112px;
  left: 0;
  z-index: 1;
  margin-bottom: -26px;
  padding: 0 90px;
}

.product-slider__item {
  display: none;
  justify-content: space-between;
}

.product-slider__item._active {
  display: flex;
}

.product-slider__item-column:last-child {
  padding-top: 78px;
}

.product-slider__item-column + .product-slider__item-column {
  margin-left: 125px;
}

.product-slider__item-title {
  position: relative;
  margin: 0 0 18px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 47px;
  line-height: 57px;
  letter-spacing: 0.7px;
}

.product-slider__item-title::before {
  content: '';
  position: absolute;
  top: -41px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.product-slider__item-title::after {
  content: '01';
  position: absolute;
  top: -31px;
  right: -42px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 179px;
  color: #ffffff;
}

.product-slider__item-description {
  margin: 0 0 42px;
  color: #464646;
}

.product-slider__item-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-slider__control-item + .product-slider__control-item {
  margin-left: 22px;
}


.product-slider__control-list {
  display: flex;
  align-items: center;
}

.product-slider__control {
  width: 12px;
  height: 12px;
  background: url('../images/icons/slider-controls/off.svg') center / contain no-repeat;
  cursor: pointer;
}

.product-slider__control:hover,
.product-slider__control:focus {
  opacity: 0.6;
}

.product-slider__control-item._active .product-slider__control {
  background-image: url('../images/icons/slider-controls/on.svg');
}

.product-slider__item-specification-list {
  display: flex;
  margin-top: 60px;
}

.product-slider__item-specification-item + .product-slider__item-specification-item {
  margin-left: 80px;
}

.product-slider__item-specification-value {
  font-family: gilroy-extra, sans-serif;
  font-size: 36px;
}

.product-slider__item-specification-label {
  margin-top: 20px;
  font-size: 13px;
  line-height: 1;
}

/*product-slider end*/

/*sections start*/

.sections {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.sections__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sections__link {
  display: inline-block;
  width: 160px;
}

.sections__image {
  height: 160px;
  background: #f4e2a0 center no-repeat;
}

.sections__item._virtual-reality .sections__image {
  background-image: url('../images/icons/sections/virtual-reality.svg');
}

.sections__item._monopoda-selfie .sections__image {
  background-image: url('../images/icons/sections/monopoda-selfie.svg');
  background-position-y: bottom;
}

.sections__item._action-cameras .sections__image {
  background-image: url('../images/icons/sections/action-cameras.svg');
}

.sections__item._fitness-bracelets .sections__image {
  background-image: url('../images/icons/sections/fitness-bracelets.svg');
}

.sections__item._smart-watch .sections__image {
  background-image: url('../images/icons/sections/smart-watch.svg');
}

.sections__item._quadcopters .sections__image {
  background-image: url('../images/icons/sections/quadcopters.svg');
}

.sections__title {
  margin-top: 34px;
}

/*sections end*/

.catalog__item-price {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.filter__title {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.text-field__label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1)
}

.footer {
  background-color: #464646;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}

.footer__bottom,
.footer__navigation {
  display: flex;
  align-items: center;
}

.footer__bottom-developer {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1;
}

.footer__bottom {
  position: relative;
  justify-content: center;
  margin-top: 60px;
}

.footer__navigation-item + .footer__navigation-item {
  margin-left: 32px;
}

.user-menu._light {
  color: rgba(255, 255, 255, 0.7);
}

.social-network {
  display: flex;
  align-items: center;
}

.social-network__button {
  display: flex;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-network__item + .social-network__item {
  margin-left: 22px;
}

.social-network__button:hover {
  opacity: 0.6;
}

.social-network__button:active {
  opacity: 0.1;
}

.social-network__button._facebook {
  background-image: url("../images/icons/social-network/facebook.svg");
}

.social-network__button._instagram {
  background-image: url("../images/icons/social-network/instagram.svg");
}

.social-network__button._twitter {
  background-image: url("../images/icons/social-network/twitter.svg");
}

.popup {
  display: none;
}
