@import "fonts.css";

* {
  box-sizing: border-box;
}

/*button,*/
/*input {*/
  /*font: inherit;*/
/*}*/

button {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 40px 20px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;
  background-image: linear-gradient(#f0c52e, #f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.button:hover {
  background-size: 100%;
}

.button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.logotype {
  font-family: gilroy-extra, sans-serif;
  font-size: 50px;
}

.header {
  padding: 0 60px 40px;
  background-color: rgba(240, 197, 46, 0.5);
}

.header__logotype {
  position: relative;
  top: -14px;
}

.header__line {
  display: flex;
  justify-content: space-between;
}


.header__line._subnavigation {
  visibility: hidden;
  align-items: flex-start;
  justify-content: flex-start;
}

.header:hover .header__line._subnavigation {
  visibility: visible;
}

.header__line + .header__line {
  margin-top: 23px;
}

.search {
  display: flex;
  width: 440px;
  margin: 0;
  color: #000000;
}

.search__input {
  flex-grow: 1;
  padding: 0 0 10px 41px;
  background: transparent url("../images/icons/search.svg") no-repeat 5px 11px;
  border: none;
  border-bottom: 2px solid transparent;
  font: inherit;
  color: #000000;
}

.search__button {
  visibility: hidden;
}

.search__input:focus {
  border-bottom-color: #000000;
  outline: none;
}

.search__input:focus ~ .search__button {
  visibility: visible;
}

.search__input::-webkit-input-placeholder,
.search__input::-moz-placeholder,
.search__input:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__input:hover::-webkit-input-placeholder,
.search__input:hover::-moz-placeholder,
.search__input:hover:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__input:active::-webkit-input-placeholder,
.search__input:active::-moz-placeholder,
.search__input:active:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__button {
  border: 2px solid #000000;
  height: 50px;
  padding: 0 19px;
  font: inherit;
  cursor: pointer;
}

.search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header__navigation {
  width: 100%;
  text-transform: uppercase;
  font-family: gilroy-extra, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.header__navigation-list {
  display: flex;
  align-items: center;
}

.header__navigation-item:first-child {
  margin-right: auto;
}

.header__navigation-item + .header__navigation-item {
  margin-left: 33px;
}

.header__navigation-item:last-child {
  margin-left: 103px;
}

.header__navigation-link._icon-plus {
  padding-right: 30px;
  background: url('../images/icons/plus.svg') center right no-repeat;
}

.header__subnavigation + .header__subnavigation {
  margin-left: 60px;
}

.header__subnavigation-item + .header__subnavigation-item {
  margin-top: 5px;
}

.footer__bottom-developer:hover,
.footer__navigation-link:hover,
.header__navigation-link:hover,
.user-info__menu-link:hover,
.logotype[href]:hover {
  opacity: 0.6;
}

.footer__bottom-developer:active,
.footer__navigation-link:active,
.header__navigation-link:active,
.user-info__menu-link:active,
.logotype[href]:active {
  opacity: 0.3;
}

.main__title,
.main__about-title,
.main__contact-title {
  font-family: gilroy-extra, sans-serif;
  font-size: 47.5px;
  line-height: 47.5px;
  letter-spacing: 0.48px;
}

.catalog__item-title,
.main__about-company-list {
  font-family: gilroy-extra, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.main__filters-button,
.main__about-link,
.main__contact-link {
  font-family: gilroy-extra, sans-serif;
  font-size: 18.5px;
  line-height: 23.5px;
  letter-spacing: 3.7px;
}

.footer__phone,
.footer__address {
  letter-spacing: normal;
  color: #ffffff;
}

.footer__navigation {
  font-family: gilroy-extra, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.user-info__menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 38px;
  letter-spacing: -0.5px;
}

.user-info__menu-item._margin {
  margin-right: 177px;
}

.user-info__menu-item + .user-info__menu-item {
  margin-left: 40px;
}

.user-info__menu-link {
  background: transparent none left center no-repeat;
}

.user-info__menu-link._user {
  padding-left: 27px;
  background-image: url('../images/icons/user.svg');
}

.user-info__menu-link._compare {
  padding-left: 24px;
  background-image: url('../images/icons/compare.svg');
}

.user-info__menu-link._cart {
  padding-left: 26px;
  background-image: url('../images/icons/cart.svg');
}

.catalog__item-price {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.filter__title {
  font-family: gilroy-extra, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.text-field__label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1)
}

.footer {
  background-color: #464646;
}

.user-info._light {
  color: rgba(255, 255, 255, 0.7);
}

.social-network__button {
  display: flex;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-network__button:hover {
  opacity: 0.6;
}

.social-network__button:active {
  opacity: 0.1;
}

.social-network__button._facebook {
  background-image: url("../images/icons/social-network/facebook.svg");
}

.social-network__button._instagram {
  background-image: url("../images/icons/social-network/instagram.svg");
}

.social-network__button._twitter {
  background-image: url("../images/icons/social-network/twitter.svg");
}

.popup {
  display: none;
}
