@import "fonts.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*button,*/
/*input {*/
  /*font: inherit;*/
/*}*/

button {
  border: none;
  padding: 0;
  background: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  color: rgba(0, 0, 0, 0.3);
}

.link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link:active {
  color: rgba(0, 0, 0, 0.1)
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 43px;
  text-transform: uppercase;
  background-image: linear-gradient(#f0c52e, #f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  font-family: gilroy-extra, sans-serif;
  font-size: 18.5px;
  font-weight: normal;
  line-height: 23.5px;
  letter-spacing: 3.3px;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  background-size: 100%;
}

.button:active {
  color: #f7e184;
  background-color: #000000;
  background-image: none;
}

.logotype {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 50px;
}

.logotype._yellow {
  letter-spacing: -0.5px;
  color: #ffc600;
}

/*header start*/

.header {
  position: relative;
  height: 340px;
  background-image: linear-gradient(#f4e2a0, #f4e2a0);
  background-size: 100%;
  background-position-y: 40px;
  background-repeat: no-repeat;
}

.header._catalog {
  height: auto;
}

.header:hover {
  z-index: 2;
}

.header__inner {
  padding: 40px 60px 50px;
}

.header__logotype {
  position: relative;
  top: -14px;
}

.header__user-menu {
  display: flex;
  align-items: flex-start;
  padding-top: 13px;
}

.header__line {
  display: flex;
}

.header__line {
  justify-content: space-between;
}

.header__line + .header__line {
  margin-top: 23px;
}

.header__navigation {
  width: 100%;
  text-transform: uppercase;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
}

.header__navigation-list {
  display: flex;
}

.header__navigation-item:first-child {
  margin-right: auto;
}

.header__navigation-item + .header__navigation-item {
  margin-left: 33px;
}

.header__navigation-item:last-child {
  margin-left: 103px;
}

.header__navigation-link._icon-plus {
  padding-right: 30px;
  background: url('../images/icons/plus.svg') center right no-repeat;
}

/*header end*/

/*sub-menu start*/

.sub-menu {
  position: absolute;
  top: 175px;
  left: 0;
  display: none;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 30px;
  text-transform: none;
  background-color: #f4e2a0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
}


.header__navigation-item:first-child:hover .sub-menu {
  display: block;
}

.sub-menu__inner {
  display: flex;
  padding: 0 80px;
}

.sub-menu__list + .sub-menu__list {
  margin-left: 60px;
}

.sub-menu__list:last-child {
  margin-left: 75px;
}

.sub-menu__item + .sub-menu__item {
  margin-top: 6px;
}

.sub-menu__link:hover {
  opacity: 0.6;
}

.sub-menu__link:active {
  opacity: 0.3;
}

/*sub-menu end*/

.search {
  display: flex;
  width: 440px;
  margin: 0;
  color: #000000;
}

.search__input {
  flex-grow: 1;
  padding: 0 0 10px 41px;
  background: transparent url("../images/icons/search.svg") no-repeat 5px 11px;
  border: none;
  border-bottom: 2px solid transparent;
  font: inherit;
  color: #000000;
}

.search__button {
  visibility: hidden;
}

.search__input:focus {
  border-bottom-color: #000000;
  outline: none;
}

.search__input:focus ~ .search__button {
  visibility: visible;
}

.search__input::-webkit-input-placeholder,
.search__input::-moz-placeholder,
.search__input:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__input:hover::-webkit-input-placeholder,
.search__input:hover::-moz-placeholder,
.search__input:hover:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__input:active::-webkit-input-placeholder,
.search__input:active::-moz-placeholder,
.search__input:active:-ms-input-placeholder {
  /*color: rgba(255, 255, 255, 0.3);*/
}

.search__button {
  border: 2px solid #000000;
  height: 50px;
  padding: 0 19px;
  font: inherit;
  cursor: pointer;
}

.search__button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__bottom-developer:hover,
.footer__navigation-link:hover,
.header__navigation-link:hover,
.user-menu__link[href]:hover,
.logotype[href]:hover {
  opacity: 0.6;
}

.footer__bottom-developer:active,
.footer__navigation-link:active,
.header__navigation-link:active,
.user-menu__link[href]:active,
.logotype[href]:active {
  opacity: 0.3;
}

.catalog__item-title {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.footer__inner {
  padding: 68px 0;
}

.footer__user-menu {
  padding-top: 3px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__phone,
.footer__address {
  letter-spacing: normal;
  color: #ffffff;
}

.footer__phone {
  margin: 0;
}

.footer__logotype {
  margin-left: -4px;
}

.footer__navigation {
  margin-top: 5px;
  margin-left: -38px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #ffffff;
}

.footer__navigation-link {
  text-transform: uppercase;
}

.user-menu {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1;
}

.user-menu__item {
  display: flex;
  align-items: center;
}

.user-menu__item._width {
  width: 247px;
}

.user-menu__item + .user-menu__item {
  margin-left: 40px;
}

.user-menu__link {
  background: transparent none left center no-repeat;
}

.user-menu__link + .user-menu__link {
  margin-left: 20px;
}

.user-menu__link._user {
  padding-left: 26px;
  background-image: url('../images/icons/user.svg');
}

.user-menu__link._user._yellow {
  background-image: url('../images/icons/user-yellow.svg');
}

.user-menu__link._compare {
  padding-left: 21px;
  background-image: url('../images/icons/compare.svg');
}

.user-menu__link._compare._yellow {
  background-image: url('../images/icons/compare-yellow.svg');
}

.user-menu__link._cart {
  padding-left: 23px;
  background-image: url('../images/icons/cart.svg');
}

.user-menu__link._cart._yellow {
  background-image: url('../images/icons/cart-yellow.svg');
}

/*product-slider start*/

.product-slider {
  position: relative;
  top: -112px;
  left: 0;
  z-index: 1;
  margin-bottom: -26px;
}

.product-slider__inner {
  padding: 0 90px;
}

.product-slider__item {
  display: none;
  justify-content: space-between;
}

.product-slider__item._active {
  display: flex;
}

.product-slider__item-column:last-child {
  padding-top: 78px;
}

.product-slider__item-column + .product-slider__item-column {
  margin-left: 125px;
}

.product-slider__item-title {
  position: relative;
  margin: 0 0 18px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 47px;
  line-height: 57px;
  letter-spacing: 0.7px;
}

.product-slider__item-title::before {
  content: '';
  position: absolute;
  top: -41px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.product-slider__item-title::after {
  content: '01';
  position: absolute;
  top: -31px;
  right: -42px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 179px;
  color: #ffffff;
}

.product-slider__item-description {
  margin: 0 0 42px;
  letter-spacing: 0;
  color: #464646;
}

.product-slider__item-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-slider__control-item + .product-slider__control-item {
  margin-left: 22px;
}


.product-slider__control-list {
  display: flex;
  align-items: center;
  margin-right: -9px;
}

.product-slider__control {
  width: 12px;
  height: 12px;
  background: url('../images/icons/slider-controls/off.svg') center / contain no-repeat;
  cursor: pointer;
}

.product-slider__control:hover,
.product-slider__control:focus {
  opacity: 0.6;
}

.product-slider__control-item._active .product-slider__control {
  background-image: url('../images/icons/slider-controls/on.svg');
}

.product-slider__item-specification-list {
  display: flex;
  margin-top: 60px;
}

.product-slider__item-specification-item + .product-slider__item-specification-item {
  margin-left: 80px;
}

.product-slider__item-specification-value {
  font-family: gilroy-extra, sans-serif;
  font-size: 36px;
}

.product-slider__item-specification-label {
  margin-top: 20px;
  font-size: 13px;
  line-height: 1;
}

/*product-slider end*/

/*sections start*/

.sections {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.6px;
}

.sections__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sections__link {
  display: inline-block;
  width: 160px;
}

.sections__inner {
  display: flex;
  height: 160px;
  background: #f4e2a0 center no-repeat;
}

.sections__image {
  margin: auto;
}

.sections__image._monopoda {
  margin-bottom: 0;
}

.sections__link:hover .sections__inner {
  background-color: #f0c52e;
}

.sections__link:active .sections__image {
  opacity: 0.3;
}

.sections__title {
  margin-top: 34px;
}

.sections__title._no-wrap {
  white-space: nowrap;
}

/*sections end*/

/*service-slider start*/

.service-slider {
  margin-top: 80px;
  padding-bottom: 67px;
  background-image: linear-gradient(#e5e5e5, #e5e5e5);
  background-size: 100%;
  background-position-y: 100px;
  background-repeat: no-repeat;
}

.service-slider__column {
  padding: 80px 0 72px;
}

.service-slider__column:first-child {
  flex-shrink: 0;
  width: 285px;
  border-right: 7px solid #000000;
}

.service-slider__column:last-child {
  flex-grow: 1;
  padding-left: 117px;
}

.service-slider__control-item + .service-slider__control-item {
  margin-top: 24px;
}

.service-slider__item {
  display: none;
  background-position: calc(100% - 66px) 85px;
  background-repeat: no-repeat;
}

.service-slider__item._active {
  display: flex;
}

.service-slider__item._delivery {
  background-image: url('../images/service-slider/delivery.svg');
}

.service-slider__item._warranty {
  background-image: url('../images/service-slider/warranty.svg');
}

.service-slider__item._credit {
  background-image: url('../images/service-slider/credit.svg');
}

.service-slider__button {
  width: 160px;
}

.service-slider__button:active,
.service-slider__button._active {
  width: 100%;
  justify-content: flex-start;
  padding-left: 20px;
  background-size: 100%;
  background-image: none;
  background-color: #000000;
  color: #f7e184;
}

.service-slider__title {
  margin: 3px 0;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 47px;
  letter-spacing: 1px;
}

.service-slider__description {
  width: 425px;
  margin: 39px 0 0;
  color: #464646;
}

/*service-slider end*/

/*brands start*/

.brands {
  margin-top: 95px;
}

.brands__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brands__item {
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.brands__link {
  display: inline-block;
  width: 260px;
  height: 100px;
  filter: grayscale(100%);
  opacity: 0.2;
}

.brands__link:hover {
  opacity: 1;
  filter: none;
}

.brands__item._dji .brands__link {
  background-image: url('../images/brands/dji.jpg');
}

.brands__item._gadgets .brands__link {
  background-image: url('../images/brands/gadgets.jpg');
}

.brands__item._gopro .brands__link {
  background-image: url('../images/brands/gopro.jpg');
}

.brands__item._vive .brands__link {
  background-image: url('../images/brands/vive.jpg');
}

/*brands end*/

/*filter start*/

.filter {
  width: 200px;
  margin-top: 69px;
}

.filter__title {
  width: 100%;
  border-top: 2px solid #000000;
  padding-top: 10px;
}

.filter__list {
  margin-top: 17px;
}

.filter__group + .filter__group {
  margin-top: 30px;
}

.filter__button {
  margin-top: 34px;
}

/*filter end*/

/*main start*/

.main {
  padding-bottom: 82px;
}

.main__title {
  margin: 0 0 43px;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 47.5px;
  line-height: 47.5px;
  letter-spacing: 0.48px;
}

.main__title._line:before {
  content: '';
  display: block;
  width: 80px;
  height: 7px;
  margin-bottom: 46px;
  background-color: #000000;
}

.main__contact {
  display: flex;
  justify-content: space-between;
  margin-top: 93px;
}

.main__contact-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main__contact-section {
  display: flex;
  flex-direction: column;
}

/*main end*/

/*about start*/

.about {
  width: 462px;
}

.about__title {
}

.about__text {
  margin: 0;
}

.about__text + .about__text {
  margin-top: 30px;
}

.about__company-list {
  margin-top: 42px;
}

.about__company-item {
  display: flex;
  align-items: center;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.about__company-item + .about__company-item {
  margin-top: 9px;
}

.about__company-item:before {
  content: '';
  width: 8px;
  height: 8px;
  margin-right: 26px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about__link {
  width: 260px;
  margin-top: 58px;
  padding: 0;
}

/*about end*/

/*contact start*/

.contact {
  width: 560px;
}

.contact__description {
  margin: 0;
}

.contact__link {
  width: 260px;
  margin-top: 58px;
  padding: 0;
}

.contact__map {
  margin-top: 40px;
}

/*contact end*/

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__item {
  position: relative;
  width: 360px;
  margin-bottom: 24px;
}

.catalog__item-inner:hover .catalog__item-image {
  opacity: 0.7;
}

.catalog__item-more {
  visibility: hidden;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.catalog__item-compare {
  visibility: hidden;
  position: absolute;
  top: 218px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 13px;
}

.catalog__item-inner:hover .catalog__item-more,
.catalog__item-inner:hover .catalog__item-compare {
  visibility: visible;
}

.catalog__item-price {
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
  white-space: nowrap;
}

.catalog__item-description {
  display: flex;
  margin: 22px 0;
}

.filter__title {
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.text-field {
  display: flex;
  align-items: center;
}

.text-field__label {
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.text-field__radio,
.text-field__checkbox {
  position: absolute;
  opacity: 0;
}

.text-field__radio-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  background: transparent url('../images/icons/controls/radio/off.svg') left center no-repeat;
}

.text-field__checkbox-icon {
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 13px;
  background: transparent url('../images/icons/controls/checkbox/off.svg') left center no-repeat;
}

.text-field:hover .text-field__checkbox-icon,
.text-field__checkbox:focus ~ .text-field__checkbox-icon,
.text-field:hover .text-field__radio-icon,
.text-field__radio:focus ~ .text-field__radio-icon {
  opacity: 0.6;
}

.text-field__radio:active:not(:disabled):not(:checked) ~ .text-field__radio-icon {
  background-image: url('../images/icons/controls/radio/on.svg');
}

.text-field__checkbox:active:not(:disabled) ~ .text-field__checkbox-icon {
  background-image: url('../images/icons/controls/checkbox/on.svg');
}

.text-field__radio:checked ~ .text-field__radio-icon {
  background-image: url('../images/icons/controls/radio/on.svg');
}

.text-field__checkbox:checked ~ .text-field__checkbox-icon {
  background-image: url('../images/icons/controls/checkbox/on.svg');
}

.text-field__radio:checked:active:not(:disabled):not(:checked) ~ .text-field__radio-icon {
  background-image: url('../images/icons/controls/radio/off.svg');
}

.text-field__checkbox:checked:active:not(:disabled) ~ .text-field__checkbox-icon {
  background-image: url('../images/icons/controls/checkbox/off.svg');
}

.text-field__checkbox:disabled ~ .text-field__checkbox-icon,
.text-field__checkbox:disabled ~ .text-field__label,
.text-field__radio:disabled ~ .text-field__radio-icon,
.text-field__radio:disabled ~ .text-field__label {
  opacity: 0.25;
}

/*form-slider start*/

.form-slider {
  margin-top: 35px;
  font-family: gilroy-extra, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2);
}

.form-slider__line {
  position: relative;
  height: 2px;
  margin-bottom: 6px;
  background-color: #dbdbdb;
}

.form-slider__line:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.form-slider__control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 22px;
  transform: translateY(-50%);
  background: #eeeeee url('../images/icons/controls/form-slider/button.svg') no-repeat;
}

.form-slider__control:active {
  transform: translateY(-50%) scale(1.1);
}

.form-slider__control:first-child {
  margin-left: -10px;
}

.form-slider__control:last-child {
  left: 110px;
}

.form-slider__price + .form-slider__price {
  margin-left: 60px;
}

/*form-slider end*/

/*breadcrumbs start*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 60px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__item + .breadcrumbs__item:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 7px;
  margin: 0 16px;
  background: transparent url('../images/icons/nav-arrow.svg') no-repeat;
}

.breadcrumbs__link {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1)
}

/*breadcrumbs end*/

/*filters start*/

.filters {
  margin-top: 48px;
  background:
    linear-gradient(90deg, #dcdcdc 0%, #dcdcdc 49%, #eeeeee 50%, #eeeeee 100%) no-repeat,
    linear-gradient(90deg, #eeeeee 0%, #eeeeee 49%, #ffffff 50%, #ffffff 100%) no-repeat;
  background-size: 100% 70px, 100%;
}

.filters__header {
  display: flex;
  height: 70px;
  background-color: #eeeeee;
}

.filters__header-title {
  margin: 0;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 4px;
}

.filters__header .filters__column:first-child {
  background-color: #dcdcdc;
}

.filters__body .filters__column:first-child {
  align-items: flex-start;
  background-color: #eeeeee;
}

.filters__column {
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.filters__column:first-child {
  width: 327px;
  flex-shrink: 0;
}

.filters__column:last-child {
  flex-grow: 1;
  padding-left: 75px;
}

.filters__body {
  display: flex;
}

.filters__body .filters__column._catalog {
  display: block;
  padding-top: 70px;
  background-color: #ffffff;
}

/*filters end*/

/*pagination start*/

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin-top: -9px;
  margin-bottom: 75px;
  background-color: #eeeeee;
  font-family: gilroy-extra, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item + .pagination__item {
  margin-left: 30px;
}

.pagination__link {
  color: rgba(0, 0, 0, 0.3)
}

.pagination__link:hover {
  color: rgba(0, 0, 0, 0.6)
}

.pagination__item._active .pagination__link,
.pagination__link:active {
  color: #000000;
}

.pagination__button {
  display: flex;
  align-self: normal;
  align-items: center;
  justify-content: center;
  width: 126px;
  letter-spacing: 3px;
}

.pagination__button:hover {
  background-color: #dcdcdc;
}

.pagination__button:active {
  background-color: #dcdcdc;
  color: rgba(0, 0, 0, 0.08);
}

/*pagination end*/

/*sorting start*/

.sorting {
  display: flex;
  margin-left: 45px;
  margin-right: auto;
  font-weight: normal;
}

.sorting__item {
  /*line-height: 23px;*/
}

.sorting__item + .sorting__item {
  margin-left: 28px;
}

.sorting__link {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link._active {
  pointer-events: none;
  color: #000000;
}

/*sorting end*/

/*order-sorting start*/

.order-sorting {
  display: flex;
  align-items: center;
}

.order-sorting__link {
  display: inline-block;
  width: 11px;
  height: 10px;
  opacity: 0.2;
  background-repeat: no-repeat;
}

.order-sorting__link:hover {
  opacity: 0.4;
}

.order-sorting__link:active {
  opacity: 1;
}

.order-sorting__item + .order-sorting__item {
  margin-left: 18px;
}

.order-sorting__link._active {
  pointer-events: none;
  opacity: 1;
}

.order-sorting__link._up {
  background-image: url('../images/icons/dir-up.svg');
}

.order-sorting__link._down {
  background-image: url('../images/icons/dir-down.svg');
}

/*order-sorting end*/

/*catalog-page start*/

.catalog-page {
  padding-bottom: 0;
}

.catalog-page__title {
  margin-top: 38px;
  margin-bottom: 24px;
  padding: 0 60px;
}

/*catalog-page start*/

.footer {
  background-color: #464646;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}

.footer__bottom,
.footer__navigation {
  display: flex;
  align-items: center;
}

.footer__bottom-developer {
  position: absolute;
  top: -2px;
  right: 0;
  line-height: 1;
}

.footer__bottom {
  position: relative;
  justify-content: center;
  margin-top: 64px;
}

.footer__navigation-item + .footer__navigation-item {
  margin-left: 32px;
}

.user-menu._light {
  color: rgba(255, 255, 255, 0.7);
}

.social-network {
  display: flex;
  align-items: center;
}

.social-network__button {
  display: flex;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.social-network__item + .social-network__item {
  margin-left: 22px;
}

.social-network__button:hover {
  opacity: 0.6;
}

.social-network__button:active {
  opacity: 0.1;
}

.social-network__button._facebook {
  background-image: url("../images/icons/social-network/facebook.svg");
}

.social-network__button._instagram {
  background-image: url("../images/icons/social-network/instagram.svg");
}

.social-network__button._twitter {
  background-image: url("../images/icons/social-network/twitter.svg");
}

/*popup start*/

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  outline: 1px solid green;
  width: 960px;
  height: 553px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.popup__close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  opacity: 0.5;
  z-index: 1;
  cursor: pointer;
  background: #eeeeee url('../images/icons/modal-close.svg') no-repeat;
}

.popup__close:hover {
  opacity: 1;
}

.popup__close:active {
  opacity: 0.3;
}

/*popup end*/
